[submodule "infimnist_py"]
	path = infimnist_py
	url = https://github.com/albietz/infimnist_py.git
[submodule "discrete-gaussian-differential-privacy"]
	path = discrete-gaussian-differential-privacy
	url = https://github.com/IBM/discrete-gaussian-differential-privacy.git
[submodule "leaf"]
	path = leaf
	url = https://github.com/TalwalkarLab/leaf.git
